<?xml version="1.0"?>
<robot name="ur" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />

  <xacro:include filename="$(find robot_servoing)/model/urdf/utils.urdf.xacro" />

  <xacro:include filename="$(find robot_servoing)/model/urdf/sim_interface.urdf.xacro" />

  <xacro:include filename="$(find robot_servoing)/model/urdf/ur_camera.urdf.xacro" />

  <xacro:include filename="$(find robot_servoing)/model/urdf/demo_apple.urdf.xacro" />

</robot>
